/* Elliot Pi 2022/4/20 */
body{
    background-color:ivory;
}

.myheading{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

.mysubheading{
    font-family:Verdana, Geneva, Tahoma, sans-serif
    }

.churchtitle{
    font-family:arial;
    font-style:italic;
    text-decoration:underline
}

.center{
    left: 700px;
    position:relative
}

.textlife{
    font-size: 20px;
    font-style:italic;
    font-weight:normal;
}

.italic{
    font-style:italic
}

.inpagelinksf{
    float: left;
    padding-top: 30px;
    border-right: solid 2px silver
}

.inpagelinks{
    font-size: 5px;
    text-decoration:underline;
    float: left;
    padding-top: 30px;
}

.homepagetext{
    font-size: 18px;
}

.gomid{
    Font-size:25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    left:175px;
    position:relative;
}